# Vars for every script
ulimit -n 20000
MEDIA_ROOT= # Parent folder, so like /media or /data/media or some shit
DB_PATH= # Where DATABASE_NAME.db is storoed
DATABASE_NAME=media # Name of the database.db file

# DB creation script
ENCTABLE_NAME=encode

# Encoder Script
AV1AN_SPLIT_METHOD=av-scenechange # Valid options: av-scenechange (recommended), none
AV1AN_CHUNK_METHOD=lsmash # Valid options: segment, select, ffms2, lsmash (recommended), dgdecnv, bestsource, hybrid
AV1AN_CONCAT=mkvmerge # Valid options: ffmpeg, mkvmerge (recommended), ivf
AV1AN_ENC=svt-av1 # Valid options: svt-av1, rav1e, aomec
AV1AN_VENC_OPTS="" # Video encoding options
AV1AN_ENC_PIX=yuv420p # This is marked apparently as the most sane default so leave as is I guess??
AV1AN_AENC_OPTS="-c:a libopus -af aformat=channel_layouts=7.1|5.1|stereo -mapping_family 1 -b:a 64k -sn" # Audio encoding options
AV1AN_FFMPEG_OPTS="-map 0 -map -v -map V -c:s copy -strict -2" # The -f stuff, let's you do shit like subs

# Lockfiles (not recommended to fuck with)
readonly LOCKDIR=/tmp/46620/locks
readonly DB_LOCKFILE=media_db
readonly ENCODER_LOCKFILE=encoder
